body
  font-family: 'Open Sans', sans-serif;

.container
  margin: 50px
  width: 300px

  .user
    display: flex
    flex-direction: row

    label
      font-size: 16pt
      padding: 10px 0

    input
      width: 100%
      font-size: 16pt
      padding: 10px 10px 10px 0
      border: none


  .tweets
    .tweet
      margin: 20px 0